<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgugxSE02nIOEwE_JlChAU7_4BOVj1L3o</string>
	<key>GCM_SENDER_ID</key>
	<string>532696599026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akberen.unistep</string>
	<key>PROJECT_ID</key>
	<string>unistep-8534a</string>
	<key>STORAGE_BUCKET</key>
	<string>unistep-8534a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532696599026:ios:114c2ba0f413657f44436b</string>
</dict>
</plist>